<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <!-- Heredamos del documento base.html-->
    {% extends 'tasks/base.html' %} {% block content %}
    <main class="container py-5">
      <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>
          Django is a high-level Python web framework that encourages rapid
          development and clean, pragmatic design. Built by experienced
          developers, it takes care of much of the hassle of web development, so
          you can focus on writing your app without needing to reinvent the
          wheel. It’s free and open source.
        </p>
        <p>
          Ridiculously fast. Django was designed to help developers take
          applications from concept to completion as quickly as possible.
        </p>
        <p>
          Reassuringly secure. Django takes security seriously and helps
          developers avoid many common security mistakes.
        </p>
        <p>
          Exceedingly scalable. Some of the busiest sites on the web leverage
          Django’s ability to quickly and flexibly scale.
        </p>
        <div class="text-center">
          <a href="{% url 'signin' %}" class="btn btn-dark">Sign-In</a>
          <a href="{% url 'signup' %}" class="btn btn-dark">Sign-Up</a>
        </div>
      </section>
    </main>
    {% endblock %}
  </body>
</html>
