<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tasks</title>
  </head>
  <body>
    {% extends 'tasks/base.html' %} {% block content %}
    <main class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h1 class="card-title text-center py-3">Tasks {{status}}</h1>
          <ul class="list-group">
            {% for task in tasks %}
            <a
              class="list-group-item my-1"
              href="{% url 'task_detail' task.id %}"
            >
              <header class="d-flex justify-content-between">
                {% if task.important %}
                <h1 class="fs-6 fw-bold text-success">
                  {{task.title}}<sub
                    ><small class="text-info">Important</small></sub
                  >
                </h1>
                {% else %}
                <h1 class="fs-6 fw-bold">{{task.title}}</h1>
                {% endif %}
                <p>{{task.user.username}}</p>
              </header>
              <p>{{task.descripcion}}</p>
              <p>{{task.datecompleted|date:'M j Y:i'}}</p>
            </a>
            {% endfor %}
          </ul>
        </div>
      </div>
    </main>
    {% endblock %}
  </body>
</html>
